<!DOCTYPE hmtl>
<html>
<head>
<meta charset="utf-8" />
<title>CheckBox</title>
<link rel="stylesheet" type="text/css" href="css/stylesheet2.css" media="screen"/>
<head>

</head>

<body id="house">
    <div id="show">
    <h1>Ready to Sync ?</h1>
    <br>
    <input type="checkbox" id="c1"/><label for="c1"><span></span>Salsa</label>
    <p>
    <input type="checkbox" id="c2"/><label for="c2"><span></span>Twillio</label>
    <p>
    <input type="checkbox" id="c1"/><label for="c1"><span></span>ActionKit</label>
    <p>
    <input type="checkbox" id="c2"/><label for="c2"><span></span>SalesForce</label>
    <p>
    <input type="button" value="Sync">
    </div>


</body>
</html>