body {
    font-family: helvetica;
}
.banner {
    background-color: #AFBF45;
    height: 200px;
    width: 70%;
    float: center;
    margin-left: 275px;
} 

h1 {
    text-align: right;
    font-size: 50px;
    height: 20%;
    color: white;    
    padding-top: 150px;
}

h2 {
    text-align: center;
    color: gray;
    font-size: 40px;
    
}

div.nav_button {
    margin-left: 50px;
    margin-bottom: 20px;
    height: 10%;
    width: 40%;
    background-color:white;
    text-align: center;
    padding-top: 15px;
    border-radius: 35px;
    border-style: solid;
    border-color: black;
    font-weight: bold; 
    font-size: 25;
    
}

.nav_button:hover {
    color: white;
    background-color: #AFBF45;
    font-size: 25;
    font-weight: bold; `
}

.description {
    font-size: 17;
    margin: 0;
    color: gray;
}



