html
{
    color: #000;
    font-family: Arial;
}

/*#banner {*/
    /*background-image: url(official_hands.jpg);*/
   /* background-color: #AFBF45;
    background-size: 1500px 200px; 
    height: 200px;
    float: center;
    position: relative;*/
/*}*/

h1 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 40px;
    background-color: #AFBF45;
    background-size: 2000px 200px; 
    height: 100px;
    color: white;
    padding-top: 40px; 
}

h2 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    color: gray;
    
}

div.nav_button {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 165px;
    width: 300px;
    background-color:white;
    text-align: center;
    padding-top: 15px;
    border-radius: 35px;
    border-style: solid;
    border-color: black;
    font-weight: bold; 
    font-size: 25;
    padding-top: 30px;
    
}

.nav_button:hover {
    color: white;
    background-color: #AFBF45;
    font-size: 25;
    font-weight: bold; `
}

.description {
    font-size: 17;
    margin: 0;
    color: gray;
}



