table {
    border-collapse:collapse;
    width: 40%;
    margin: 1%;
}

th {
    background-color: #a0b52c;
    color: #ebebeb;
    height: 20px;
    vertical-align: bottom;
    padding: 10px;
}

tr:nth-child(even){
    background: white;
}
tr:nth-child(odd){
    background: #ebebeb;
}

td {
    height: 20px;
    vertical-align: bottom;
    padding: 5px;
}


table, th, td {
    border: 1px solid black;
    font-family: helvetica;
}

.exportbtn {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  text-shadow: 1px 1px 3px #666666;
  font-family: helvetica;
  color: white;
  font-size: 18px;
  background: #a0b52c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 1%;
}

.exportbtn:hover {
  background: #9da8aa;
  text-decoration: none;
}