body {
    font-family: helvetica;
}

.banner {
    background-color: #AFBF45;
    height: 100px;
}

h1 {
    text-align: right;
    font-size: 50px;
    color: white;    
    padding: 15px;
    text-shadow: 4px 4px 8px #696969;
}

h2 {
    text-align: center;
    color: gray;
    font-size: 40px;
    
}

.nav_button {
    margin-bottom: 20px;
    height: 11%;
    width: 40%;
    background-color:white;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    font-weight: bold; 
    font-size: 25;
    display: block;
    
}

.nav_button:hover {
    color: white;
    background-color: #AFBF45;
    font-size: 25;
    font-weight: bold; `
}

.description {
    font-size: 17;
    margin: 0;
    color: gray;
}

table {
    border-collapse:collapse;
    width: 40%;
    margin: 1%;
}

th {
    background-color: #a0b52c;
    color: #ebebeb;
    height: 20px;
    vertical-align: bottom;
    padding: 10px;
}

tr:nth-child(even){
    background: white;
}
tr:nth-child(odd){
    background: #ebebeb;
}

td {
    height: 20px;
    vertical-align: bottom;
    padding: 5px;
}


table, th, td {
    border: 1px solid black;
    font-family: helvetica;
}

.exportbtn {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  text-shadow: 1px 1px 3px #666666;
  font-family: helvetica;
  color: white;
  font-size: 18px;
  background: #a0b52c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 1%;
}

.exportbtn:hover {
  background: #9da8aa;
  text-decoration: none;
}

.add_query {
  webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  text-shadow: 1px 1px 3px #666666;
  font-family: helvetica;
  color: white;
  font-size: 18px;
  background: #a0b52c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 75.5% ;
  margin-top: .5% ;
}

.add_query:hover {
  background: #9da8aa;
  text-decoration: none;
}

.cancelbtn {
  webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: helvetica;
  color: white;
  font-size: 18px;
  background: #808080;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: .5% ;
  display: inline-block;
}

.cancelbtn:hover {
  background: #5C5C5C ;
  text-decoration: none;
}

.form {
    margin-bottom: 20px;
    height: 9%;
    width: 40%;
    background-color:white;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    font-size: 20;
    
}

.SQLform {
    margin-bottom: 20px;
    height: 17%;
    width: 40%;
    background-color:white;
    text-align: center;
    padding-top: 0px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    font-size: 20;
    
}

form.add_query_form { display: inline;}