<html>
    <head>
        <title>
            ProgressCRM 
        </title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">


    </head>
    <body>
        <div class = "banner">
            <h1> 
                ProgressCRM
            </h1>
        </div>
            <a href='/add_query'>  <button class = "add_query"> Add Query
    </button></a> 
            <h2>
            Choose a Report:
            </h2>
        <p>
        {% for query in queries %}
        <center>
            <div class="nav_button" onClick="location.href='/results/{{query.id}}'">  {{query.name}}
            <div class="description"> {{query.description}} </div>
            </div>

        </center>


            {% endfor %} 
                  <a href='/add_query'>  <button class = "add_query"> Add Query
    </button></a> 
        </p>
    </body>

</html>
