<html>
    <head>
        <title>
            Progress CRM 
        </title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{%static 'reporting.css'%}">


    </head>

    <body>
    <div class="banner"
        <img src= "{% static 'reporting_queries/hands.jpg' %}">
    </div>

<br>
<br>
<br>
    <h1> 
    Most Popular Queries
    </h1>
        <p>   

        {% for query in queries %}
        <div class="nav_button" onClick="location.href='/results/{{query.id}}'">  {{query.name}}</div>
                 {% endfor %} 
        <br>

    </body>

</html>
