div.nav_button {
    height: 30px;
    width: 150px;
    margin:10px;
    background-color: #7f0ee8;
    text-align: center;
    padding-top: 10px;
    vertical-align: middle;
    
    
}

#nav_button:hover{
    color: white;
    background-color: orange;
}